---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contacto - Rykuo" description="Contáctanos">

  <section class="max-w-2xl mx-auto py-20 px-6">
    <h1 class="text-3xl font-semibold mb-8">Contacto</h1>

    <form 
      action="https://formspree.io/f/mjgepvjj"
      method="POST"
      class="space-y-6"
    >
      <input type="hidden" name="_subject" value="Nuevo mensaje desde Rykuo Web">
      <input type="hidden" name="_captcha" value="false">
      <input
        type="text"
        name="name"
        placeholder="Nombre"
        required
        class="w-full border border-gray-300 p-3"
      />

      <input
        type="email"
        name="email"
        placeholder="Correo"
        required
        class="w-full border border-gray-300 p-3"
      />

      <textarea
        name="message"
        placeholder="Mensaje"
        required
        rows="5"
        class="w-full border border-gray-300 p-3"
      ></textarea>

      <button
        type="submit"
        class="bg-black text-white px-6 py-3"
      >
        Enviar mensaje
      </button>

    </form>
  </section>

</BaseLayout>